/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#search{
    display: flex;
    background-color: #131921;
    height: 64px;
    justify-content: space-between;
}

#logo2{
    height: 54px;
    display: inline-block;
}

#logo{
    background-color: #131921;
    box-sizing: border-box;
    padding-top: 0px;
}

#search div{
    color: white;
    border: solid #131921 1px;
    margin: 4px;
}

#search div div{
    border: 0;
}

#search div:hover{
    border: white solid 1.5px;
    border-radius: 2%;
    cursor: pointer;
}

#search div div:hover{
    border: 0;
}

#search div:nth-of-type(2){
    height: 50px;
    padding: 0 7px;
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#searchbar{
    width: 50%;
    height: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center;
    height: 40px;
}

#search div:nth-of-type(3){
    border: none;
    border-radius: 0;
}

#searchbar div{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar div:first-child{
    background-color: #eee9e9;
    color: #7a7676;
    height: 100%;
    width: 60px;
    font-size: 12px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#searchbar input{
    background-color: #ffffff;
    color: #7a7676;
    border: 0;
    padding: 0;
    margin: 0;    
    font-size: 15px;
    flex-direction: row;
    justify-content: left;
    padding-left: 8px;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

#searchbar input:enabled{
    border: 0;
}

#searchbar div:nth-of-type(2){
    background-color: rgb(248, 188, 76);
    border: 0;
    height: 100%;
    width: 40px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#searchbar img{
    height: 20px;
}

#search div:nth-of-type(4){
    display: flex;
    align-items: center;
}

#search div:nth-of-type(4) img{
    height: 15px;
    margin: 3px;
}

#search div:nth-of-type(7) img{
    height: 10px;
}

#search div span{
    font-weight: 700;
    font-size: 0.9rem;
}
