/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#search{
    display: flex;
    background-color: #131921;
    height: 64px;
    justify-content:space-between;
}

#logo2{
    height: 54px;
    display: inline-block;
}

#logo{
    background-color: #131921;
    box-sizing: border-box;
    padding-top: 0px;
}

#search div{
    color: white;
    border: solid #131921 1px;
    margin: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#search div div{
    border: 0;
}

#search div:hover{
    border: white solid 1.5px;
    border-radius: 2%;
    cursor: pointer;
}

#search div div:hover{
    border: 0;
}

#search div:nth-of-type(2){
    height: 50px;
    padding: 2px 7px 0px 7px;
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#searchbar{
    width: 55%;
    height: 30px;
    padding: 0;
    margin: 0;
    height: 40px;
}

#search div:nth-of-type(3){
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self:center;
}

#searchbar div{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar div:first-child{
    background-color: #eee9e9;
    color: #7a7676;
    height: 100%;
    width: 60px;
    font-size: 12px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#searchbar input{
    background-color: #ffffff;
    color: #7a7676;
    border: 0;
    padding: 0;
    margin: 0;    
    font-size: 15px;
    flex-direction: row;
    justify-content: left;
    padding-left: 8px;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

#searchbar input:enabled{
    border: 0;
}

#searchbar div:nth-of-type(2){
    background-color: rgb(248, 188, 76);
    border: 0;
    height: 100%;
    width: 50px;
    padding: 0;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#searchbar div:nth-of-type(2):hover{
    background-color: orange;
}

#searchbar div:first-child:hover{
    background-color: #d2d0d0;
    color: black;
}

#searchbar img{
    height: 20px;
}

#search div:nth-of-type(4){
    flex-direction: row;
    font-weight: 700;
    font-size: 13px;
    padding: 0px 6px;
    align-items: center;
}

#search div:nth-of-type(4) img{
    height: 15px;
    margin: 3px;
}

#search div:nth-of-type(5){
    padding: 0px 5.5px 3px 5.5px;
}

#search div:nth-of-type(6){
    padding: 0px 5.5px 3px 5.5px;
}

#search div:nth-of-type(7){
    padding: 0px 5px 8px 5px;
    flex-direction: row;
    align-items: end;
}

#search div:nth-of-type(7) span{
    padding-bottom: 6px;
}

#search div:nth-of-type(7) img{
    height: 40px;
}

#search div span{
    font-weight: 700;
    font-size: 0.8rem;
}

#search div span:first-child{
    font-weight: 500;
    font-size: 12.2px;
    color: #bcbaba;
    padding-bottom: 1px;
}

#search div:nth-of-type(5) span:first-child, #search div:nth-of-type(6) span:first-child{
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    color: white;
    height: 39px;
    justify-content: space-evenly;
}

header div{
    display: flex;
    align-items: center;
    font-size: 14px;
    border: solid #232f3e 1px;
    border-radius: 2%;
    padding: 0px 8px;
}

header div:hover{
    border: solid white 1px;
    cursor: pointer;
}

main img{
    width: 98.8%;
    margin: 0 0.6%;
    position:relative;
    transform: translateZ(3px);
}

article{
    width: 98.8%;
    margin: 0 0.6%;
    background: linear-gradient(#0000,#bcbaba);
    height: 350px;
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: space-evenly;
}

section{
    width: 23.33%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

section div{
    width: 46%;
    height: 40%;
    background-color: #b7d0f1;
}

section div img{
    object-fit:contain;
}

section div:first-child{
    width: 100%;
    background-color: #7a7676;
    height: auto;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 24px 0 0 19px;
}